<!doctype html>
<html lang="ko">

<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=yes">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="../favicon.png"/>
    <link rel="shortcut icon" href="../favicon.png"/>
    <link rel="canonical" href="index.html">
    <!--선호URL-->
    <link rel="canonical" href="index.html">
    <!--사이드바 폰트 시작-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--사이드바 폰트 종료-->

    <meta name="naver-site-verification" content="0e3af650067e8a084d6470395c1b6e6b9632c958"/>
    <meta name="google-site-verification=X8XvbsCac2XHlVJOKH98dT04BFPfK57Q97_MbKLahI8">
    <title>로그인 | 알빠노관광</title>
    <link rel="stylesheet" href="../css/defaulta68a.css?ver=171222">
    <link rel="stylesheet" href="../css/stylea685a.css?ver=171222">
    <link rel="stylesheet" href="../skin/social/stylea68a.css?ver=171222">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171692642-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-171692642-1');
    </script>


    <script src="https://cmtour.co.kr/js/html5.js"></script>

    <script>
        var g5_url = "../index.html";
        var g5_bbs_url = "index.html";
        var g5_is_member = "";
        var g5_is_admin = "";
        var g5_is_mobile = "";
        var g5_bo_table = "";
        var g5_sca = "";
        var g5_editor = "";
        var g5_cookie_domain = "";
    </script>
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../js/jquery.menua68a.js?ver=171222"></script>
    <script src="../js/commona68a.js?ver=171222"></script>
    <script src="../js/wresta68a.js?ver=171222"></script>
    <script src="../js/placeholders.min.js"></script>

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/jquery.fancybox.css">

    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <meta name="format-detection" content="telephone=no"/>

    <link href="../css/common.dt_ori.daontheme_ver2_.03.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script language="javascript" type="text/javascript"
            src="../js/gnb-jquery.easing.1.3.js"></script>
    <link rel="stylesheet" href="../css/swiper.min.css">
    <script src="../js/swiper.min.js"></script>
    <script src="../js/swiper-animation.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/slick.css"/>
    <script type="text/javascript" src="../js/slick.min.js"></script>
    <link rel="stylesheet" href="../css/xeicon.min.css">

    <link rel="stylesheet" href="../css/animate.css" type="text/css">
    <script src="../theme/albbanotour/html/css_js/jquery.mb.YTPlayer.js"></script>
    <script type="text/javascript" src="../../wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript">if (!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "analyticskey";
    wcs_do();</script>
</head>
<body>

<!-- 로그인 시작 { -->
<div id="mb_login" class="mbskin">
    <div class="mbskin_box">
        <h1>로그인</h1>

        <div><a href="index.html"><h2 style="font-size: 2rem; margin: 20px auto"><img
                src="../images/top_logo.png" alt="처음으로 "></h2></a></div>

        <div class="mb_log_cate">
            <h2>로그인 </h2>
            <a href="register.html" class="join">회원가입 </a>
        </div>
        <form name="flogin" action="https://cmtour.co.kr/bbs/login_check.php" onsubmit="return flogin_submit(this);"
              method="post">
            <input type="hidden" name="url" value="https%3A%2F%2Fcmtour.co.kr">

            <fieldset id="login_fs">
                <legend>회원로그인</legend>
                <label for="login_id" class="sound_only">회원아이디<strong class="sound_only"> 필수</strong></label>
                <input type="text" name="mb_id" id="login_id" required class="frm_input required" size="20"
                       maxLength="20" placeholder="ID">
                <label for="login_pw" class="sound_only">비밀번호<strong class="sound_only"> 필수</strong></label>
                <input type="password" name="mb_password" id="login_pw" required class="frm_input required" size="20"
                       maxLength="20" placeholder="PASSWORD">
                <button type="submit" class="btn_submit">로그인</button>

                <div id="login_info">
                    <div class="login_if_auto chk_box">
                        <input type="checkbox" name="auto_login" id="login_auto_login" class="selec_chk">
                        <label for="login_auto_login"><span></span> 로그인 기억하기 </label>
                    </div>
                    <div class="login_if_lpl">
                        <a href="find_password.html" target="_blank" id="login_password_lost">비밀번호찾기 </a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>
    jQuery(function ($) {
        $("#login_auto_login").click(function () {
            if (this.checked) {
                this.checked = confirm("자동로그인을 사용하시면 다음부터 회원아이디와 비밀번호를 입력하실 필요가 없습니다.\n\n공공장소에서는 개인정보가 유출될 수 있으니 사용을 자제하여 주십시오.\n\n자동로그인을 사용하시겠습니까?");
            }
        });
    });

    function flogin_submit(f) {
        if ($(document.body).triggerHandler('login_sumit', [f, 'flogin']) !== false) {
            return true;
        }
        return false;
    }
</script>
<!-- } 로그인 끝 -->


<!-- ie6,7에서 사이드뷰가 게시판 목록에서 아래 사이드뷰에 가려지는 현상 수정 -->
<!--[if lte IE 7]>
<script>
    $(function () {
        var $sv_use = $(".sv_use");
        var count = $sv_use.length;

        $sv_use.each(function () {
            $(this).css("z-index", count);
            $(this).css("position", "relative");
            count = count - 1;
        });
    });
</script>
<![endif]-->

<script src="../js/wow.min.js"></script>
<script> new WOW().init(); </script>

</body>
</html>
