<!doctype html>
<html lang="ko">

<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=yes">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="../favicon.png"/>
    <link rel="shortcut icon" href="../favicon.png"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="알빠노관광">
    <meta name="title" content="알빠노관광">
    <meta name="keywords" content="알빠노관광, 경주여행, 경주투어, 알짜투어, 시티투어, 경주야간투어, 경주">
    <meta name="description" content="경주시지정업체, 알빠노관광 전문업체, 문화해설사 동행">
    <meta property="og:description" content="경주시지정업체, 알빠노관광 전문업체, 문화해설사 동행">
    <meta property="og:site_name" content="알빠노관광, 경주여행, 경주투어, 알짜투어, 시티투어, 경주야간투어, 경주"/>
    <link rel="canonical" href="index.html">
    <meta property="og:image" content="../../img/sns.jpg">
    <meta property="og:url" content="../../../../index.html">
    <meta property="og:locale" content="ko_KR"/>
    <meta property="og:url" content="../../../../index.html">
    <!--선호URL-->
    <link rel="canonical" href="index.html">


    <meta name="naver-site-verification" content="0e3af650067e8a084d6470395c1b6e6b9632c958"/>
    <meta name="google-site-verification=X8XvbsCac2XHlVJOKH98dT04BFPfK57Q97_MbKLahI8">

    <title>탑승정보 | 알빠노관광</title>
    <link rel="stylesheet" href="../css/defaulta68a.css?ver=171222">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171692642-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-171692642-1');
    </script>


    <!--[if lte IE 8]>
    <script src="https://cmtour.co.kr/js/html5.js"></script>
    <![endif]-->
    <script>
        // 자바스크립트에서 사용하는 전역변수 선언
        var g5_url = "../../../../index.html";
        var g5_bbs_url = "../../../../bbs/index.html";
        var g5_is_member = "";
        var g5_is_admin = "";
        var g5_is_mobile = "";
        var g5_bo_table = "";
        var g5_sca = "";
        var g5_editor = "";
        var g5_cookie_domain = "";
    </script>
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../js/jquery.menua68a.js?ver=171222"></script>
    <script src="../js/commona68a.js?ver=171222"></script>
    <script src="../js/wresta68a.js?ver=171222"></script>
    <script src="../js/placeholders.min.js"></script>


    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/jquery.fancybox.css">

    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <meta name="format-detection" content="telephone=no"/>

    <link href="../css/common.dt_ori.daontheme_ver2_.03.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script language="javascript" type="text/javascript" src="../js/gnb-jquery.easing.1.3.js"></script>
    <link rel="stylesheet" href="../css/swiper.min.css">
    <script src="../js/swiper.min.js"></script>
    <script src="../js/swiper-animation.min.js"></script>

    <link rel="stylesheet" type="text/css"
          href="../css/slick.css"/>
    <script type="text/javascript"
            src="../js/slick.min.js"></script>
    <link rel="stylesheet" href="../css/xeicon.min.css">

    <link rel="stylesheet" href="../css/animate.css" type="text/css">
    <script src="../css_js/jquery.mb.YTPlayer.js"></script>
    <script type="text/javascript" src="../../wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript">if (!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "analyticskey";
    wcs_do();</script>
</head>
<body>


<div id="mobile_header">
    <div class="inner">
        <h1><a href="index.html"><img src="../images/top_logo_m.png" alt="로고" title="로고"></a></h1>
        <ul class="m_gnb">
            <li class="category"><a href="#none" class="qbt" title="전체메뉴열기"><i class="fa fa-outdent"
                                                                               aria-hidden="true"></i></a></li>
            <li class="home">
                <!-- <a href="https://cmtour.co.kr/bbs/board.php?bo_table=qa"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a> --><a
                    href="tel:1588-1234" title="고객센터전화"><i class="fa fa-phone"></i></a></li>
        </ul>
    </div>
</div>
<div id="sideMenu">
    <div class="side_title qbt">알빠노관광 <i class="fa fa-window-close" aria-hidden="true"
                                         style="float:right; margin-right:10px; margin-top:20px;"></i></div>
    <div id="gnba">


        <!--				<i class="fas fa-user-circle"></i>-->
        <div style="margin-top:10px; margin-bottom:10px;">
            <a href="login.html">로그인</a>
            <a href="register.html">회원가입</a>
        </div>


    </div>
    <div class="navi_bg">
        <div class="nav">
            <ul class="subnav1">

                <li class="navi_set">
                    <div>관광지<i class="fas fa-angle-down" aria-hidden="true"
                               style="float:right; margin-right:10px; margin-top:12px;"></i></div>
                    <ul class="subnav">
                        <li><a href="tour_course.html" target="_self">- 동해안투어</a></li>


                        <li><a href="new_02.html" target="_self">- 세계유산투어</a></li>


                        <li><a href="new_03.html" target="_self">- 신라역사투어</a></li>


                        <li><a href="new_04.html" target="_self">- 양동마을/남산투어</a></li>


                        <li><a href="new_05.html" target="_self">- 경주야경투어</a></li>


                        <li><a href="new_06.html" target="_self">- 경주야경투어(Lite)</a></li>


                    </ul>
                </li>

                <li class="navi_set">
                    <div>맛집<i class="fas fa-angle-down" aria-hidden="true"
                              style="float:right; margin-right:10px; margin-top:12px;"></i></div>
                    <ul class="subnav">
                        <li><a href="booking.jsp?bo_table=booking" target="_self">- 맛집</a></li>


                    </ul>
                </li>

                <li class="navi_set">
                    <div>투어예약<i class="fas fa-angle-down" aria-hidden="true"
                                style="float:right; margin-right:10px; margin-top:12px;"></i></div>
                    <ul class="subnav">
                        <li><a href="map_info_01.html" target="_self">- 주간투어 탑승시간</a></li>


                        <li><a href="map_info_02.html" target="_self">- 야경투어 탑승시간</a></li>


                    </ul>
                </li>

                <li class="navi_set">
                    <div>고객센터<i class="fas fa-angle-down" aria-hidden="true"
                                style="float:right; margin-right:10px; margin-top:12px;"></i></div>
                    <ul class="subnav">
                        <li><a href="main_notice.html?bo_table=notice" target="_self">- 공지사항</a></li>


                        <li><a href="faq.html?fm_id=1" target="_self">- 자주 묻는 질문</a></li>


                        <li><a href="qna.html?bo_table=qa" target="_self">- 질문답변</a></li>


                        <li><a href="question.html" target="_self">- 1:1문의</a></li>


                    </ul>
                </li>

            </ul>
        </div>
    </div>

    <div style="margin: 10px auto; text-align: center">
        <p style="background: #d05222;border-radius: 20px;margin: 10px 20px;padding: 10px;color: #fff;font-size: 1rem;">
            고객문의 <br>
            02-3483-4632</p>
    </div>

</div>
<div id="back_cover"></div>


<section id="header_wrap">


    <div id="header">

        <div class="wrap_box">
            <div id="header_logo">
                <h1><a href="index.html"><img src="../images/top_logo.png" alt="로고" title="로고"></a></h1>
            </div>
            <div id="lnb">
                <div id="lnb_wrap">
                    <div class="lnb_area" style="position:relative;">
                        <ul class="ul_1st">

                            <li>
                                <a href="tour_course.html" target="_self">관광지 <!-- <i class="fas fa-angle-down"></i> --></a>
                                <ul class="ul_2nd">
                                    <li>
                                        <a href="tour_course.html" target="_self">동해안투어</a>
                                        <ul class="ul_3rd">
                                        </ul>

                                    </li>
                                    <li>
                                        <a href="new_02.html" target="_self">세계유산투어</a>
                                        <ul class="ul_3rd">
                                        </ul>

                                    </li>
                                    <li>
                                        <a href="new_03.html" target="_self">신라역사투어</a>
                                        <ul class="ul_3rd">
                                        </ul>

                                    </li>
                                    <li>
                                        <a href="new_04.html" target="_self">양동마을/남산투어</a>
                                        <ul class="ul_3rd">
                                        </ul>

                                    </li>
                                    <li>
                                        <a href="new_05.html" target="_self">경주야경투어</a>
                                        <ul class="ul_3rd">
                                        </ul>

                                    </li>
                                    <li>
                                        <a href="new_06.html" target="_self">경주야경투어(Lite)</a>
                                        <ul class="ul_3rd">
                                        </ul>

                                    </li>
                                </ul>
                            </li>

                            <li></li>

                            <li>
                                <a href="booking.jsp?bo_table=booking" target="_self">맛집
                                    <!-- <i class="fas fa-angle-down"></i> --></a>
                                <ul class="ul_2nd">
                                    <li>
                                        <a href="booking.jsp?bo_table=booking" target="_self">맛집</a>
                                        <ul class="ul_3rd">
                                        </ul>

                                    </li>
                                </ul>
                            </li>

                            <li></li>

                            <li>
                                <a href="map_info_01.html" target="_self">투어예약
                                    <!-- <i class="fas fa-angle-down"></i> --></a>
                                <ul class="ul_2nd">
                                    <li>
                                        <a href="map_info_01.html" target="_self">주간투어 탑승시간</a>
                                        <ul class="ul_3rd">
                                        </ul>

                                    </li>
                                    <li>
                                        <a href="map_info_02.html" target="_self">야경투어 탑승시간</a>
                                        <ul class="ul_3rd">
                                        </ul>

                                    </li>
                                </ul>
                            </li>

                            <li></li>

                            <li>
                                <a href="main_notice.html?bo_table=notice" target="_self">고객센터
                                    <!-- <i class="fas fa-angle-down"></i> --></a>
                                <ul class="ul_2nd">
                                    <li>
                                        <a href="main_notice.html?bo_table=notice"
                                           target="_self">공지사항</a>
                                        <ul class="ul_3rd">
                                        </ul>

                                    </li>
                                    <li>
                                        <a href="faq.html?fm_id=1" target="_self">자주 묻는 질문</a>
                                        <ul class="ul_3rd">
                                        </ul>

                                    </li>
                                    <li>
                                        <a href="qna.html?bo_table=qa" target="_self">질문답변</a>
                                        <ul class="ul_3rd">
                                        </ul>

                                    </li>
                                    <li>
                                        <a href="question.html" target="_self">1:1문의</a>
                                        <ul class="ul_3rd">
                                        </ul>

                                    </li>
                                </ul>
                            </li>

                            <li></li>

                        </ul>
                    </div>
                </div>
            </div>


            <div id="gnb">
                <li><a href="login.html"><i class="fa fa-power-off" aria-hidden="true"></i> 로그인</a>
                </li>
                <li><a href="register.html"><i class="fa fa-user" aria-hidden="true"></i> 회원가입</a></li>

            </div>


        </div>
    </div>
</section>


<link href="../css/style.dt_ori.daontheme_ver2_.03.css" rel="stylesheet" type="text/css">

<section id="sub_visual">
    <div class="backgroundimg">
        <div class="visual_area" style="background:url('../images/sub_visual05.jpg') no-repeat top center;"></div>
    </div>
</section>

<section id="sub_wrapper">
    <div id="sub_menu">
        <div class="sub_location">
            <div>
                <div class="cen"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
                </div>
                <ul class="">
                    <li>
                        <span>고객센터</span>
                        <ul>
                            <li><a href="tour_course.html" target="_self">관광지</a></li>
                            <li><a href="booking.jsp?bo_table=booking" target="_self">맛집</a></li>
                            <li><a href="map_info_01.html" target="_self">투어예약</a></li>
                            <li><a href="main_notice.html?bo_table=notice" target="_self">고객센터</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="dep2">
                    <li>
                        <span>탑승정보</span>
                        <ul>
                            <li><a href="main_notice.html?bo_table=notice" target="_self">공지사항</a></li>


                            <li><a href="faq.html?fm_id=1" target="_self">자주 묻는 질문</a></li>


                            <li><a href="qna.html?bo_table=qa" target="_self">질문답변</a></li>


                            <li><a href="question.html" target="_self">1:1문의</a></li>


                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>


    <div id="sub_tit">
        <div class="path">
            <li><a href="index.html"><span class="ic-home"><i></i></span></a></li>
            <li>고객센터</li>
            <li>탑승정보</li>
        </div>
        <div class="title">고객센터</div>
        <p class="normal_txt">
            홈페이지를 방문해주셔서 감사합니다.
        </p>
    </div>

    <section class="scontents">
        <div class="bg_vline"></div>
        <p class="eng"><em>경주역 </em></p>
        <p class="all_map"><a href="map_info_01.html">전체보기</a></p>

    </section>
    <div id="map" style="width:70%;height:450px; margin: 0 auto;"></div>
    <!--<p><em>지도를 확대 또는 축소 해주세요!</em></p> -->
    <p id="result" style="display: none"></p>

    <script type="text/javascript"
            src="../../dapi.kakao.com/v2/maps/sdk04d1.json?appkey=80568f4d5363291c77cb0f4c34bfb5ff"></script>

    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(35.7994909, 129.1402033), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

        // 지도가 확대 또는 축소되면 마지막 파라미터로 넘어온 함수를 호출하도록 이벤트를 등록합니다
        kakao.maps.event.addListener(map, 'zoom_changed', function () {

            // 지도의 현재 레벨을 얻어옵니다
            var level = map.getLevel();

            var message = '현재 지도 레벨은 ' + level + ' 입니다';
            var resultDiv = document.getElementById('result');
            resultDiv.innerHTML = message;

        });

        var imageSrc = '../../img/location_kakao2.png', // 마커이미지의 주소입니다
            imageSize = new kakao.maps.Size(150, 83), // 마커이미지의 크기입니다
            imageOption = {offset: new kakao.maps.Point(65, 75)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
            markerPosition = new kakao.maps.LatLng(35.7994909, 129.1402033); // 마커가 표시될 위치입니다

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition,
            image: markerImage // 마커이미지 설정
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);
    </script>


</section>


<footer>
    <section id="footer" class="clearfix">
        <div class="copy_bar">
            <div>
                <div class="copy_menu">
                    <p><a href="company_introduce.jsp">회사소개</a> &nbsp;&nbsp;&nbsp; <a
                            href="policy.html?co_id=privacy">개인정보처리방침</a> &nbsp;&nbsp;&nbsp; <a
                            href="service_terms.html?co_id=provision">이용약관</a> &nbsp;&nbsp;&nbsp; <a
                            href="main_notice.html?bo_table=notice" class="depth1" alt="공지사항"
                            title="공지사항">공지사항</a></p>
                </div>
            </div>
        </div>
        <div class="copy_area">
            <div class="copyright">
                <p>
                    <span>상호명 : 알빠노관광 천마관광(주)</span>
                    <span>대표 : 서병조</span>
                    <span>주소 : 경북 경주시 태종로685번길 6 2층 (노서동 243-15)</span>
                    <span>사업자등록번호 : 505-81-00300</span>
                    <span>통신판매업신고 : 2013-경부경주-00100</span>
                    <span>관광사업등록증 : 제 2009-000001호</span>
                    <span>대표전화 : 02-3483-4632 </span>
                    <span>팩스 : 054-743-6009</span>
                    <span>개인정보책임관리자 : 김성민</span>
                    <span>이메일 : citytour123@nate.com</span>
                    <span>© Gyeongju CityTour All Rights Reserved.</span>
                </p>
            </div>
            <div class="copy_logo">
                <img src="../images/top_logo.png" alt="로고" title="로고">
                <p class="copy_cs">고객문의 <a href="tel:02-3483-4632">02-3483-4632</a></p>
            </div>
        </div>
    </section>
</footer>


<!-- 모바일_하단고정 -->
<div class="request">
    <div class="floating">
        <div class="inner">
            <div class="btn_col">
                <span><a href="../../../../bbs/write4427.html?bo_table=online" class="btn_type1">온라인문의</a></span>
                <span><a href="tel:02-3483-4632" class="btn_type2">상담원연결</a></span>
            </div>
        </div>
    </div>
</div>
<!-- 모바일_하단고정 //-->


<div class="q-menu">
    <dl>
        <dt><i class="fas fa-bars"></i>
            <p>QUICK MENU</p></dt>
        <!--			<dd><a href="https://cmtour.co.kr/theme/cmtour/html/business/new_04.php" alt="시티관광지" title="시티관광지"><i class="fas fa-building" aria-hidden="true"></i><p>투어안내</p></a></dd>-->

        <dd><a href="booking.jsp?bo_table=booking" alt="예약하기" title="예약하기"><i class="fas fa-edit"
                                                                              aria-hidden="true"></i>
            <p>예약바로가기</p></a></dd>


        <dd><a href="map_info_01.html" alt="탑승시간/코스안내 " title="탑승시간/코스안내"><i class="fas fa-cogs" aria-hidden="true"></i>
            <p>탐승시간/장소 </p></a></dd>

        <!--
                    <dd><a href="https://cmtour.co.kr/theme/cmtour/html/business/map_info_02.php" alt="탑승시간/코스안내 " title="탑승시간/코스안내"><i class="fas fa-cogs" aria-hidden="true"></i><p>야간투어코스</p></a></dd>
                    <dd><a href="https://cmtour.co.kr/theme/cmtour/html/business/map_info_03.php" alt="탑승시간/코스안내 " title="탑승시간/코스안내"><i class="fas fa-cogs" aria-hidden="true"></i><p>알짜투어코스</p></a></dd>
        -->


        <dd><a href="qna.html?bo_table=qa" alt="온라인문의" title="온라인문의"><i class="fas fa-edit"
                                                                        aria-hidden="true"></i>
            <p>온라인문의</p></a></dd>
        <dd><a href="main_notice.html?bo_table=notice" alt="공지사항" title="공지사항"><i
                class="fas fa-volume-down" aria-hidden="true"></i>
            <p>공지사항</p></a></dd>

        <!--			<dd><a href="https://cmtour.co.kr/bbs/board.php?bo_table=youtube" alt="유튜브동영상" title="유튜브동영상"><i class="fab fa-youtube" aria-hidden="true"></i><p>유튜브동영상</p></a></dd>-->
        <!--			<dd><a href="https://cmtour.co.kr/bbs/board.php?bo_table=gallery" alt="갤러리" title="갤러리"><i class="fas fa-camera" aria-hidden="true"></i><p>갤러리</p></a></dd>-->
        <dd><a href="#none" alt="상단으로" title="상단으로" id="top_btn2"><i class="fa fa-arrow-up" aria-hidden="true"></i>
            <p>상단으로</p></a></dd>
    </dl>
</div>
<script src="../js/common.js"></script>


<script>
    $(function () {
        $("#top_btn2").on("click", function () {
            $("html, body").animate({scrollTop: 0}, '500');
            return false;
        });
    });
</script>


<button type="button" id="top_btn"><i class="fa fa-arrow-up" aria-hidden="true"></i><span class="sound_only">상단으로</span>
</button>
<script>

    $(function () {
        $("#top_btn").on("click", function () {
            $("html, body").animate({scrollTop: 0}, '500');
            return false;
        });
    });
</script>


<script type="text/javascript" src="../../wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    if (!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "6fcaa5eac23030";
    if (window.wcs) {
        wcs_do();
    }
</script>

<script type="text/javascript" src="../../wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    if (!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "754873a32235c8";
    if (window.wcs) {
        wcs_do();
    }
</script>
<!-- } 하단 끝 -->

<script>
    $(function () {
        // 폰트 리사이즈 쿠키있으면 실행
        font_resize("container", get_cookie("ck_font_resize_rmv_class"), get_cookie("ck_font_resize_add_class"));
    });
</script>


<!-- ie6,7에서 사이드뷰가 게시판 목록에서 아래 사이드뷰에 가려지는 현상 수정 -->
<!--[if lte IE 7]>
<script>
    $(function () {
        var $sv_use = $(".sv_use");
        var count = $sv_use.length;

        $sv_use.each(function () {
            $(this).css("z-index", count);
            $(this).css("position", "relative");
            count = count - 1;
        });
    });
</script>
<![endif]-->

<script src="../js/wow.min.js"></script>
<script> new WOW().init(); </script>

</body>

<!-- Mirrored from cmtour.co.kr/theme/cmtour/html/business/map_ju_01_kakao.php by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Apr 2024 08:42:21 GMT -->
</html>
