<!doctype html>
<html lang="ko">

<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=yes">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="../favicon.png"/>
    <link rel="shortcut icon" href="../favicon.png"/>
    <link rel="canonical" href="index.html">
    <!--선호URL-->
    <link rel="canonical" href="index.html">
    <!--사이드바 폰트 시작-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--사이드바 폰트 종료-->

    <meta name="naver-site-verification" content="0e3af650067e8a084d6470395c1b6e6b9632c958"/>
    <meta name="google-site-verification=X8XvbsCac2XHlVJOKH98dT04BFPfK57Q97_MbKLahI8">
    <title>질문답변 글쓰기 | 알빠노관광</title>
    <link rel="stylesheet" href="https://cmtour.co.kr/theme/cmtour/css/default.css?ver=171222">
    <link rel="stylesheet" href="https://cmtour.co.kr/theme/cmtour/skin/board/daon_basic/style.css?ver=171222">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171692642-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-171692642-1');
    </script>


    <!--[if lte IE 8]>
    <script src="https://cmtour.co.kr/js/html5.js"></script>
    <![endif]-->
    <script>
        // 자바스크립트에서 사용하는 전역변수 선언
        var g5_url = "https://cmtour.co.kr";
        var g5_bbs_url = "https://cmtour.co.kr/bbs";
        var g5_is_member = "1";
        var g5_is_admin = "";
        var g5_is_mobile = "";
        var g5_bo_table = "qa";
        var g5_sca = "";
        var g5_editor = "smarteditor2";
        var g5_cookie_domain = "";
    </script>
    <script src="https://cmtour.co.kr/js/jquery-1.8.3.min.js"></script>
    <script src="https://cmtour.co.kr/js/jquery.menu.js?ver=171222"></script>
    <script src="https://cmtour.co.kr/js/common.js?ver=171222"></script>
    <script src="https://cmtour.co.kr/js/wrest.js?ver=171222"></script>
    <script src="https://cmtour.co.kr/js/placeholders.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/fancybox/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox.css">

    <link rel="stylesheet" href="https://cmtour.co.kr/js/font-awesome/css/font-awesome.min.css">
    <meta name="format-detection" content="telephone=no"/>

    <link href="https://cmtour.co.kr/theme/cmtour/html/css_js/common.dt_ori.daontheme_ver2_.03.css" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script language="javascript" type="text/javascript"
            src="https://cmtour.co.kr/theme/cmtour/html/css_js/gnb-jquery.easing.1.3.js"></script>
    <link rel="stylesheet" href="https://cmtour.co.kr/theme/cmtour/html/css_js/swiper.min.css">
    <script src="https://cmtour.co.kr/theme/cmtour/html/css_js/swiper.min.js"></script>
    <script src="https://cmtour.co.kr/theme/cmtour/html/css_js/swiper-animation.min.js"></script>

    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

    <link rel="stylesheet" href="https://cmtour.co.kr/theme/cmtour/html/css_js/animate.css" type="text/css">
    <script src="https://cmtour.co.kr/theme/cmtour/html/css_js/jquery.mb.YTPlayer.js"></script>
    <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript">if (!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "analyticskey";
    wcs_do();</script>
</head>
<body>
<!--모바일 시작 비로그인-->
<div id="mobile_header">
    <div class="inner">
        <h1><a href="index.html"><img src="../images/top_logo_m.png" alt="로고" title="로고"></a></h1>
        <ul class="m_gnb">
            <li class="category"><a href="#none" class="qbt" title="전체메뉴열기">
                <i class="fa fa-outdent" aria-hidden="true"></i></a>
            </li>
            <li class="home">
                <a href="tel:1588-1234" title="고객센터전화"><i class="fa fa-phone"></i></a>
            </li>
        </ul>
    </div>
</div>

<div id="sideMenu">
    <div class="side_title qbt"> 알빠노관광
        <i class="fa fa-window-close" aria-hidden="true" style="float:right; margin-right:10px; margin-top:20px;"></i>
    </div>

    <div id="gnba">
        <div style="margin-top:10px; margin-bottom:10px;">
            <a href="login.html">로그인</a>
            <a href="register.html">회원가입</a>
        </div>
    </div>

    <!-- 모바일 로그인-->
    <!--    <div id="hd_login_msg">아이디님 로그인 중 <a href="../index.html">로그아웃</a></div>-->

    <!--    <div id="mobile_header">-->
    <!--        <div class="inner">-->
    <!--            <h1><a href="../index.html"><img src="../theme/cmtour/html/image/top_logo_m.png" alt="로고" title="로고"></a></h1>-->
    <!--            <ul class="m_gnb">-->

    <!--                <li class="category">-->
    <!--                    <a href="#none" class="qbt" title="전체메뉴열기">-->
    <!--                        <i class="fa fa-outdent" aria-hidden="true"></i>-->
    <!--                    </a>-->
    <!--                </li>-->

    <!--                <li class="home">-->
    <!--                    <a href="tel:1588-1234" title="고객센터전화">-->
    <!--                        <i class="fa fa-phone"></i>-->
    <!--                    </a>-->
    <!--                </li>-->

    <!--            </ul>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <div id="sideMenu">-->

    <!--        <div class="side_title qbt">알빠노관광-->
    <!--            <i class="fa fa-window-close" aria-hidden="true" style="float:right; margin-right:10px; margin-top:20px;"></i>-->
    <!--        </div>-->

    <!--        <div id="gnba">-->
    <!--            <br>-->
    <!--            <span style="color:#fff;">여행자님!</span>-->
    <!--            <div style="margin-top:10px; margin-bottom:10px;">-->
    <!--                <a href="../index.html">로그아웃</a>-->
    <!--                <a href="edit_profile.html">정보수정</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--모바일로그인 종료-->
    <div class="navi_bg">
        <div class="nav">
            <ul class="subnav1">
                <li class="navi_set">
                    <div>관광지<i class="fas fa-angle-down" aria-hidden="true" style="float:right; margin-right:10px; margin-top:12px;"></i></div>
                    <ul class="subnav">
                        <li><a href="list_sight.html" target="_self">- 관광지 리스트</a></li>
                        <li><a href="review_sight.html" target="_self">- 관광지 리뷰</a></li>
                    </ul>
                </li>

                <li class="navi_set">
                    <div>맛집<i class="fas fa-angle-down" aria-hidden="true" style="float:right; margin-right:10px; margin-top:12px;"></i></div>
                    <ul class="subnav">
                        <li><a href="list_restaurant.jsp" target="_self">- 맛집 리스트</a></li>
                        <li><a href="review_restaurant.html" target="_self">- 맛집 리뷰</a></li>
                    </ul>
                </li>

                <li class="navi_set">
                    <div>투어예약<i class="fas fa-angle-down" aria-hidden="true"
                                style="float:right; margin-right:10px; margin-top:12px;"></i></div>
                    <ul class="subnav">
                        <li><a href="tour_course.html" target="_self">- 투어 코스</a></li>
                        <li><a href="booking.jsp" target="_self">- 투어 예약</a></li>
                        <li><a href="reservation.html" target="_self">- 예약 확인</a></li>
                    </ul>
                </li>

                <li class="navi_set">
                    <div>고객센터<i class="fas fa-angle-down" aria-hidden="true"
                                style="float:right; margin-right:10px; margin-top:12px;"></i></div>
                    <ul class="subnav">
                        <li><a href="main_notice.html?bo_table=notice" target="_self">- 공지사항</a></li>
                        <li><a href="faq.html?fm_id=1" target="_self">- 자주 묻는 질문</a></li>
                        <li><a href="qna.html?bo_table=qa" target="_self">- 질문답변</a></li>
                        <li><a href="question.html" target="_self">- 1:1문의</a></li>

                    </ul>
                </li>

            </ul>
        </div>
    </div>

    <div style="margin: 10px auto; text-align: center">
        <p style="background: #d05222;border-radius: 20px;margin: 10px 20px;padding: 10px;color: #fff;font-size: 1rem;">
            고객문의 <br>
            02-3483-4632</p>
    </div>

</div>
<div id="back_cover"></div>
<!-- 모바일 종료-->

<section id="header_wrap">
    <div id="header">
        <div class="wrap_box">
            <div id="header_logo">
                <h1><a href="index.html"><img src="../images/top_logo.png" alt="로고" title="로고"></a>
                </h1>
            </div>
            <div id="lnb">
                <div id="lnb_wrap">
                    <div class="lnb_area" style="position:relative;">
                        <ul class="ul_1st">
                            <li>
                                <a href="list_sight.html" target="_self">관광지</a>
                                <ul class="ul_2nd">
                                    <li>
                                        <a href="list_sight.html" target="_self">관광지 리스트</a>
                                        <ul class="ul_3rd"></ul>
                                    </li>
                                    <li>
                                        <a href="review_sight.html" target="_self">관광지 리뷰</a>
                                        <ul class="ul_3rd"></ul>
                                    </li>
                                </ul>
                            </li>

                            <li></li>

                            <li>
                                <a href="list_restaurant.jsp" target="_self">맛집</a>
                                <ul class="ul_2nd">
                                    <li>
                                        <a href="list_restaurant.jsp" target="_self">맛집 리스트</a>
                                        <ul class="ul_3rd">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="review_restaurant.html" target="_self">맛집 리뷰</a>
                                        <ul class="ul_3rd">
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li></li>

                            <li>
                                <a href="tour_course.html" target="_self">투어예약</a>
                                <ul class="ul_2nd">
                                    <li>
                                        <a href="tour_course.html" target="_self">투어 코스</a>
                                        <ul class="ul_3rd">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="booking.jsp" target="_self">투어 예약</a>
                                        <ul class="ul_3rd">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="reservation.html" target="_self">예약 확인</a>
                                        <ul class="ul_3rd">
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li></li>

                            <li>
                                <a href="main_notice.html?bo_table=notice" target="_self">고객센터</a>
                                <ul class="ul_2nd">
                                    <li>
                                        <a href="main_notice.html?bo_table=notice" target="_self">공지사항</a>
                                        <ul class="ul_3rd">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="faq.html?fm_id=1" target="_self">자주 묻는 질문</a>
                                        <ul class="ul_3rd">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="qna.html?bo_table=qa" target="_self">질문답변</a>
                                        <ul class="ul_3rd">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="question.html" target="_self">1:1문의</a>
                                        <ul class="ul_3rd">
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li></li>

                        </ul>
                    </div>
                </div>
            </div>


            <div id="gnb">
                <li><a href="login.html"><i class="fa fa-power-off" aria-hidden="true"></i> 로그인</a></li>
                <li><a href="register.html"><i class="fa fa-user" aria-hidden="true"></i> 회원가입</a></li>
            </div>

        </div>
    </div>
</section>

<section id="sub_visual">
    <div class="backgroundimg">
        <div class="visual_area"
             style="background:url('https://cmtour.co.kr/theme/cmtour/html/image/sub_visual05.jpg') no-repeat top center;"></div>
    </div>
</section>


<section id="sub_wrapper">
    <div id="sub_menu">
        <div class="sub_location">
            <div>
                <div class="cen"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
                </div>
                <ul class="">
                    <li>
                        <span>고객센터</span>
                        <ul>
                            <li><a href="/theme/cmtour/html/business/new_01.php" target="_self">관광지</a></li>
                            <li><a href="/bbs/board.php?bo_table=booking" target="_self">맛집</a></li>
                            <li><a href="/theme/cmtour/html/business/map_info_01.php" target="_self">투어예약</a></li>
                            <li><a href="/bbs/board.php?bo_table=notice" target="_self">고객센터</a></li>

                        </ul>
                    </li>
                </ul>
                <ul class="dep2">
                    <li>
                        <span>질문답변</span>
                        <ul>
                            <li><a href="/bbs/board.php?bo_table=notice" target="_self">공지사항</a></li>


                            <li><a href="/bbs/faq.php?fm_id=1" target="_self">자주 묻는 질문</a></li>


                            <li><a href="/bbs/board.php?bo_table=qa" target="_self">질문답변</a></li>


                            <li><a href="/bbs/qalist.php" target="_self">1:1문의</a></li>


                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div id="sub_tit">
        <div class="path">
            <li><a href="index.html"><span class="ic-home"><i></i></span></a></li>
            <li>고객센터</li>
            <li></li>
            <li>질문답변</li>
        </div>
        <div class="title">고객센터</div>
        <p class="normal_txt"></p>
    </div>

    <div class="scontents">


        <div class="bg_vline"></div>
        <p class="eng"><em></em> 질문답변</p>
        <p class="stitle"></p>


        <!-- skin : theme/daon_basic -->
        <section id="bo_w">
            <h2 class="sound_only">질문답변</h2>

            <!-- 게시물 작성/수정 시작 { -->
            <form name="fwrite" id="fwrite" action="https://cmtour.co.kr/bbs/write_update.php"
                  onsubmit="return fwrite_submit(this);" method="post" enctype="multipart/form-data" autocomplete="off"
                  style="width:100%">
                <input type="hidden" name="uid" value="2024040701311876">
                <input type="hidden" name="w" value="">
                <input type="hidden" name="bo_table" value="qa">
                <input type="hidden" name="wr_id" value="0">
                <input type="hidden" name="sca" value="">
                <input type="hidden" name="sfl" value="">
                <input type="hidden" name="stx" value="">
                <input type="hidden" name="spt" value="">
                <input type="hidden" name="sst" value="">
                <input type="hidden" name="sod" value="">
                <input type="hidden" name="page" value="">
                <input type="hidden" value="html1" name="html">

                <div class="bo_w_info write_div">


                </div>


                <div class="write_div">
                    <span class="sound_only">옵션</span>

                    <input type="checkbox" id="secret" name="secret" value="secret">
                    <label for="secret">비밀글</label></div>

                <div class="bo_w_tit write_div">
                    <label for="wr_subject" class="sound_only">제목<strong>필수</strong></label>

                    <div id="autosave_wrapper write_div">
                        <input type="text" name="wr_subject" value="" id="wr_subject" required
                               class="frm_input full_input required" size="50" maxlength="255" placeholder="제목">
                        <script src="https://cmtour.co.kr/js/autosave.js"></script>
                        <script src="https://cmtour.co.kr/plugin/editor/smarteditor2/autosave.editor.js"></script>
                        <button type="button" id="btn_autosave" class="btn_frmline">임시 저장된 글 (<span id="autosave_count">0</span>)
                        </button>
                        <div id="autosave_pop">
                            <strong>임시 저장된 글 목록</strong>
                            <ul></ul>
                            <div>
                                <button type="button" class="autosave_close">닫기</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="write_div">
                    <label for="wr_content" class="sound_only">내용<strong>필수</strong></label>
                    <div class="wr_content smarteditor2">
                        <span class="sound_only">웹에디터 시작</span>
                        <script>document.write("<div class='cke_sc'><button type='button' class='btn_cke_sc'>단축키 일람</button></div>");</script>
                        <script src="https://cmtour.co.kr/plugin/editor/smarteditor2/js/service/HuskyEZCreator.js"></script>
                        <script>var g5_editor_url = "https://cmtour.co.kr/plugin/editor/smarteditor2", oEditors = [],
                            ed_nonce = "52kNkUk0bp|1712424678|ed8c8bcef39e04e0cc6f094af2617bc1b8d3a47b";</script>
                        <script src="https://cmtour.co.kr/plugin/editor/smarteditor2/config.js"></script>
                        <script>
                            $(function () {
                                $(".btn_cke_sc").click(function () {
                                    if ($(this).next("div.cke_sc_def").length) {
                                        $(this).next("div.cke_sc_def").remove();
                                        $(this).text("단축키 일람");
                                    } else {
                                        $(this).after("<div class='cke_sc_def' />").next("div.cke_sc_def").load("https://cmtour.co.kr/plugin/editor/smarteditor2/shortcut.html");
                                        $(this).text("단축키 일람 닫기");
                                    }
                                });
                                $(document).on("click", ".btn_cke_sc_close", function () {
                                    $(this).parent("div.cke_sc_def").remove();
                                });
                            });
                        </script>
                        <textarea id="wr_content" name="wr_content" class="smarteditor2" maxlength="65536"
                                  style="width:100%;height:300px"></textarea>
                        <span class="sound_only">웹 에디터 끝</span></div>

                </div>

                <div class="bo_w_link write_div">
                    <label for="wr_link1"><i class="fa fa-link" aria-hidden="true"></i><span
                            class="sound_only"> 링크  #1</span></label>
                    <input type="text" name="wr_link1" value="" id="wr_link1" class="frm_input full_input" size="50">
                </div>
                <div class="bo_w_link write_div">
                    <label for="wr_link2"><i class="fa fa-link" aria-hidden="true"></i><span
                            class="sound_only"> 링크  #2</span></label>
                    <input type="text" name="wr_link2" value="" id="wr_link2" class="frm_input full_input" size="50">
                </div>

                <div class="bo_w_flie write_div">
                    <div class="file_wr write_div">
                        <label for="bf_file_1" class="lb_icon"><i class="fa fa-download" aria-hidden="true"></i><span
                                class="sound_only"> 파일 #1</span></label>
                        <input type="file" name="bf_file[]" id="bf_file_1" title="파일첨부 1 : 용량 10,485,760 바이트 이하만 업로드 가능"
                               class="frm_file ">
                    </div>


                </div>
                <div class="bo_w_flie write_div">
                    <div class="file_wr write_div">
                        <label for="bf_file_2" class="lb_icon"><i class="fa fa-download" aria-hidden="true"></i><span
                                class="sound_only"> 파일 #2</span></label>
                        <input type="file" name="bf_file[]" id="bf_file_2" title="파일첨부 2 : 용량 10,485,760 바이트 이하만 업로드 가능"
                               class="frm_file ">
                    </div>


                </div>


                <div class="btn_confirm write_div" style="text-align:center;">
                    <a href="./board.php?bo_table=qa" class="btn_cancel btn">취소</a>
                    <input type="submit" value="작성완료" id="btn_submit" accesskey="s" class="btn_submit btn">
                </div>
            </form>

            <script>
                function html_auto_br(obj) {
                    if (obj.checked) {
                        result = confirm("자동 줄바꿈을 하시겠습니까?\n\n자동 줄바꿈은 게시물 내용중 줄바뀐 곳을<br>태그로 변환하는 기능입니다.");
                        if (result)
                            obj.value = "html2";
                        else
                            obj.value = "html1";
                    } else
                        obj.value = "";
                }

                function fwrite_submit(f) {
                    var wr_content_editor_data = oEditors.getById['wr_content'].getIR();
                    oEditors.getById['wr_content'].exec('UPDATE_CONTENTS_FIELD', []);
                    if (jQuery.inArray(document.getElementById('wr_content').value.toLowerCase().replace(/^\s*|\s*$/g, ''), ['&nbsp;', '<p>&nbsp;</p>', '<p><br></p>', '<div><br></div>', '<p></p>', '<br>', '']) != -1) {
                        document.getElementById('wr_content').value = '';
                    }
                    if (!wr_content_editor_data || jQuery.inArray(wr_content_editor_data.toLowerCase(), ['&nbsp;', '<p>&nbsp;</p>', '<p><br></p>', '<p></p>', '<br>']) != -1) {
                        alert("내용을 입력해 주십시오.");
                        oEditors.getById['wr_content'].exec('FOCUS');
                        return false;
                    }

                    var subject = "";
                    var content = "";
                    $.ajax({
                        url: g5_bbs_url + "/ajax.filter.php",
                        type: "POST",
                        data: {
                            "subject": f.wr_subject.value,
                            "content": f.wr_content.value
                        },
                        dataType: "json",
                        async: false,
                        cache: false,
                        success: function (data, textStatus) {
                            subject = data.subject;
                            content = data.content;
                        }
                    });

                    if (subject) {
                        alert("제목에 금지단어('" + subject + "')가 포함되어있습니다");
                        f.wr_subject.focus();
                        return false;
                    }

                    if (content) {
                        alert("내용에 금지단어('" + content + "')가 포함되어있습니다");
                        if (typeof (ed_wr_content) != "undefined")
                            ed_wr_content.returnFalse();
                        else
                            f.wr_content.focus();
                        return false;
                    }

                    if (document.getElementById("char_count")) {
                        if (char_min > 0 || char_max > 0) {
                            var cnt = parseInt(check_byte("wr_content", "char_count"));
                            if (char_min > 0 && char_min > cnt) {
                                alert("내용은 " + char_min + "글자 이상 쓰셔야 합니다.");
                                return false;
                            } else if (char_max > 0 && char_max < cnt) {
                                alert("내용은 " + char_max + "글자 이하로 쓰셔야 합니다.");
                                return false;
                            }
                        }
                    }


                    document.getElementById("btn_submit").disabled = "disabled";

                    return true;
                }
            </script>
        </section>
        <!-- } 게시물 작성/수정 끝 -->
    </div>
</section>


<footer>
    <section id="footer" class="clearfix">
        <div class="copy_bar">
            <div>
                <div class="copy_menu">
                    <p><a href="company_introduce.html">회사소개</a> &nbsp;&nbsp;&nbsp; <a
                            href="policy.html?co_id=privacy">개인정보처리방침</a> &nbsp;&nbsp;&nbsp; <a
                            href="service_terms.html?co_id=provision">이용약관</a> &nbsp;&nbsp;&nbsp; <a
                            href="main_notice.html?bo_table=notice" class="depth1" alt="공지사항" title="공지사항">공지사항</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="copy_area">
            <div class="copyright">
                <p>
                    <span>상호명 : 알빠노관광</span>
                    <span>대표 : 곽우신</span>
                    <span>주소 : 서울특별시 강남구 테헤란로 132(역삼동) 한독약품빌딩 8층</span>
                    <span>대표전화 : 02-3483-4632 </span>
                    <span>개인정보책임관리자 : 알빠노!</span>
                    <span>© Albbano Tour All Rights Reserved.</span>
                </p>
            </div>
            <div class="copy_logo">
                <img src="../images/top_logo.png" alt="로고" title="로고">
                <p class="copy_cs">고객문의 <a href="tel:02-3483-4632">02-3483-4632</a></p>
            </div>
        </div>
    </section>
</footer>


<!-- 모바일_하단고정 -->
<div class="request">
    <div class="floating">
        <div class="inner">
            <div class="btn_col">
                <span><a href="question.html" class="btn_type1">온라인문의</a></span>
                <span><a href="tel:02-3483-4632" class="btn_type2">상담원연결</a></span>
            </div>
        </div>
    </div>
</div>
<!-- 모바일_하단고정 //-->

<!-- 사이드바_시작 -->
<div class="q-menu">
    <dl>
        <dt>
            <i class="fas fa-bars"></i>
            <p>QUICK MENU</p>
        </dt>

        <dd>
            <a href="list_sight.html" alt="관광지리스트" title="관광지리스트">
                <i class="fas fa-camera" aria-hidden="true"></i>
                <p>관광지 리스트</p></a>
        </dd>

        <dd>
            <a href="list_restaurant.jsp" alt="맛집리스트" title="맛집리스트">
                <i class="fas fa-utensils" aria-hidden="true"></i>
                <p>맛집 리스트</p></a>
        </dd>

        <dd>
            <a href="booking.jsp?bo_table=booking" alt="예약하기" title="예약하기">
                <i class="fas fa-calendar-check" aria-hidden="true"></i>
                <p>예약바로가기</p>
            </a>
        </dd>

        <dd>
            <a href="qna.html?bo_table=qa" alt="온라인문의" title="온라인문의">
                <i class="fas fa-question-circle" aria-hidden="true"></i>
                <p>온라인문의</p>
            </a>
        </dd>

        <dd>
            <a href="main_notice.html?bo_table=notice" alt="공지사항" title="공지사항">
                <i class="fas fa-volume-down" aria-hidden="true"></i>
                <p>공지사항</p>
            </a>
        </dd>

        <dd>
            <a href="#none" alt="상단으로" title="상단으로" id="top_btn2">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                <p>상단으로</p>
            </a>
        </dd>
    </dl>
</div>
<!-- 사이드바_끝 -->

<script src="https://cmtour.co.kr/theme/cmtour/html/css_js/common.js"></script>


<script>
    $(function () {
        $("#top_btn2").on("click", function () {
            $("html, body").animate({scrollTop: 0}, '500');
            return false;
        });
    });
</script>


<button type="button" id="top_btn"><i class="fa fa-arrow-up" aria-hidden="true"></i><span class="sound_only">상단으로</span>
</button>
<script>

    $(function () {
        $("#top_btn").on("click", function () {
            $("html, body").animate({scrollTop: 0}, '500');
            return false;
        });
    });
</script>


<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    if (!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "6fcaa5eac23030";
    if (window.wcs) {
        wcs_do();
    }
</script>

<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    if (!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "754873a32235c8";
    if (window.wcs) {
        wcs_do();
    }
</script>
<!-- } 하단 끝 -->

<script>
    $(function () {
        // 폰트 리사이즈 쿠키있으면 실행
        font_resize("container", get_cookie("ck_font_resize_rmv_class"), get_cookie("ck_font_resize_add_class"));
    });
</script>


<!-- ie6,7에서 사이드뷰가 게시판 목록에서 아래 사이드뷰에 가려지는 현상 수정 -->
<!--[if lte IE 7]>
<script>
    $(function () {
        var $sv_use = $(".sv_use");
        var count = $sv_use.length;

        $sv_use.each(function () {
            $(this).css("z-index", count);
            $(this).css("position", "relative");
            count = count - 1;
        });
    });
</script>
<![endif]-->

<script src="https://cmtour.co.kr/theme/cmtour/html/css_js/wow.min.js"></script>
<script> new WOW().init(); </script>

</body>
</html>
